<div class="add-product" >
    <h1>Add Product</h1>
    <form class="common-form" #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)">
        <input type="text" ngModel name="Name" placeholder="Enter Product Name" class="form-input"/>
        <input type="text" ngModel name="Price" placeholder="Enter Product Price" class="form-input"/>
        <input type="text" ngModel name="Color" placeholder="Enter Product Color" class="form-input"/>
        <input type="text" ngModel name="Category" placeholder="Enter Product Category" class="form-input"/>
        <textarea type="text" ngModel name="Description" placeholder="Enter Product Description" class="form-input"></textarea>
        <input type="text" ngModel name="image" placeholder="Enter Product Image URL" class="form-input"/>

        <button class="form-button">Add Product</button>
    </form>
</div>