/* step 1*/
nav {
    display: flex;
    justify-content: space-between;
}

/* step 2*/
nav h1 {
    color:blueviolet;
    margin:0;
    font: size 40px;
}

/* step 3*/
nav ul {
    display: inline-flex;
    list-style-type: none;
}

/* step 4*/
nav li {
    padding-left: 15px;
}

/* step 5*/
nav a {
    text-decoration: none;
}

/* step 6*/
nav .nav-search input {

    /* todo */
    flex:1px;

    height: 35px;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-right: 0px;
}

nav .nav-search button {

    height: 40px;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-left: 0px;
}