<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Blog Ninja | <%= title %> </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Home</h1>
    <h2>Your path to becoming a Node.js ninja!</h2>
    <nav>
        <div class="site-title">
            <a href="/">Blog Ninja</a>
            <p>A Net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>

        <div class="not-found content">
            OOPS, page not found
        </div>
    </nav>
</body>
</html>