<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum in massa et interdum. Maecenas quis sodales dolor. Ut non urna id magna dignissim condimentum eget at felis. Sed nec eleifend sapien.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum in massa et interdum. Maecenas quis sodales dolor. Ut non urna id magna dignissim condimentum eget at felis. Sed nec eleifend sapien.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum in massa et interdum. Maecenas quis sodales dolor. Ut non urna id magna dignissim condimentum eget at felis. Sed nec eleifend sapien.</h2>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>