 <div class="seller-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller sign-up</h1>
        <form class="common-form" #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
            <input type="text" ngModel name="name" placeholder="Enter Name" class="form-input">
            <input type="password" ngModel name="password" placeholder="Enter Password" class="form-input">
            <input type="email" ngModel name="email" placeholder="Enter Email" class="form-input">
            <button type="submit" class="form-button">SignUp</button>
            <a class="auto-toggle-link" (click)="openLogin()">Already Have Account? Click to Login</a>
        </form>
    </div>

    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>
        <p>{{authError}}</p>
        <form class="common-form" 
            #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
            <input
                type="email"
                class="form-input"
                ngModel name="email"
                placeholder="Enter email">
                <input
                    type="password"
                    class="form-input"
                    ngModel name="password"
                    placeholder="Enter Password">
            <button type="submit" class="form-button">Login</button>
            <a class="auto-toggle-link" (click)="openSignUp()">Don't Have Account? Click to Sign Up</a>
        </form>
    </div>
</div>