<!-- Image example -->
<h2>Image example</h2>
<!-- -->
<div style="display: flex">
  <app-ui-gallery [locationName]="'Blue Mountains'" [imageName]="'blue-mountains.png'"> </app-ui-gallery>
  <app-ui-gallery [locationName]="'Sydney'" [imageName]="'sydney.png'"> </app-ui-gallery>
  <app-ui-gallery [locationName]="'Newcastle'" [imageName]="'newcastle.png'"> </app-ui-gallery>
  <app-ui-gallery [locationName]="'Blue Mountains'"> </app-ui-gallery>
</div>

<!-- SVG example -->
<h2>SVG example</h2>
<!-- -->
  <app-ui-svg></app-ui-svg>
